body{
    background-color: #cccecf;
}

/* header */

header{
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.title-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.title {
    float: left;

    a:visited, a:hover{
        color: black;
    }

    p{
        font-size: 33px;
        color: black;
        font-family: "Yuji Boku", serif;
        font-weight: 400;
        font-style: normal;
    }

}

.title-index {
    background-color: #1b3c85;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.title-index  a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: inline-block;
}

.title-index a:visited{
    color: white;
}

.title-index a:hover{
    color: #d9c743;
}

.title-index p{
    font-size: 20px;
    color: white;
}

    


/* header */



/* main */



.table-box{
    width: 100vw;
    margin-top: 20px;
 
}

.table-box table{
    margin: auto;
    width: 90%;
    border-collapse: collapse;
    text-align: center;
   
}

.table-box th{
    text-align: center;
    border-bottom: 2px solid white;
    font-size: 20px;
    padding: 10px 10px;
    background-color: white;
}

.table-box td{
    border-bottom: 2px solid white;
    font-size: 20px;

}

    /* hover */

.hover-element ul{
    display: flex;
}

.hover-element ul li{
    list-style: none;
    text-align: left;
}

.hover-element ul li a{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    color: black;
}

.hover-element ul li a::before{
    content: "";
    width: 0px;
    height: 3px;
    background-color: #1b3c85;
    position: absolute;
    top: 120%;
    left: 0;
    transition: .5s;
    mix-blend-mode: multiply;
}

.hover-element ul li a::after{
    content: "";
    width: 0px;
    height: 3px;
    background-color: #d9c743;
    position: absolute;
    top: 120%;
    right: 0;
    transition: .5s;
    mix-blend-mode: multiply;
}

.hover-element ul li:hover a::before{
     width: 50%;
     transform: translateX(100%);
}

.hover-element ul li:hover a::after{
    width: 50%;
    transform: translateX(-100%);
}

.email td:hover{
    background-color: white;
}

.email a:visited, a:link{
    color: black;
    text-decoration: none;
}

    /* hover */

/* main */